<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>switch二手价格走势</title>
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.js"></script>
  </head>
  <body>
    <div id="app">
      <el-container>
        <el-header>
          <el-select v-model="game" filterable placeholder="请选择" @change="loadData">
            <el-option
              v-for="item in options"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
          <el-radio-group v-model="time" @change="loadData">
              <el-radio-button label="7天"></el-radio-button>
              <el-radio-button label="30天"></el-radio-button>
            </el-radio-group>
        </el-header>
        <el-main>
          <div id="echart" style="width: 600px; height: 400px;"></div>
        </el-main>
      </el-container>
    </div>
    <script>
      const APP_ID = '6N2lQ5y9dJ2xsBIVhcPdVyWI-gzGzoHsz';
      const APP_KEY = 'GiDTxgQyQQy0kTcTeRcnHJf6';

      AV.init({
        appId: APP_ID,
        appKey: APP_KEY
      });
      new Vue({
        el: '#app',
        data: {
          game: '塞尔达传说 荒野之息 中文',
          time: '7天',
          options: [],
        },
        created () {
          const query = new AV.Query('Switch');
          query.greaterThan('createdAt', new Date(new Date().toDateString())).limit(1000).find().then(games => {
            const options = [];
            games.forEach(game => options.push(game.get('name')));
            this.options = options;
          })
        },
        mounted() {
          window.myChart = echarts.init(document.getElementById('echart'));
          this.loadData();
        },
        methods: {
          loadData() {
            const query = new AV.Query('Switch');
            const name = this.game;
            const limit = this.time === '7天' ? 7 : 30;
            query.equalTo('name', name).limit(limit).descending('createdAt').find().then(nsList => {
              const option = {
                tooltip : {
                  trigger: 'axis',
                },
                xAxis: {
                  type: 'category',
                  boundaryGap : false,
                  data: nsList.map(ns => ns.createdAt.toLocaleDateString()).reverse(),
                },
                yAxis: {
                  type: 'value'
                },
                series: [{
                  data: nsList.map(ns => ns.get('price')).reverse(),
                  areaStyle: {},
                  type: 'line',
                }]
              }
              myChart.setOption(option);
            })
          }
        },
      })
    </script>
  </body>