<!-- 存储服务 -->
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.7.2/dist/av-min.js"></script>
<script>
var APP_ID = '6N2lQ5y9dJ2xsBIVhcPdVyWI-gzGzoHsz';
var APP_KEY = 'GiDTxgQyQQy0kTcTeRcnHJf6';

AV.init({
  appId: APP_ID,
  appKey: APP_KEY
});
</script>
